%section.sg-section
  %header
    %h1.sg-section-title Forms
    %p 
      Forms for inputing data. This may include login forms, filter options, user feedback and much more.
      %em  See Also:
      = link_to "Twitter Bootstrap > #forms", "http://twitter.github.com/bootstrap/base-css.html#forms"
  = render 'forms-basic-form'
  %h2 Form Components
  = render "forms-structure"
  = render 'forms-inputs'
  = render 'forms-text-area'
  = render 'forms-select'
  = render 'forms-radio'
  = render 'forms-checkbox'

  %footer